div.console {
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px;
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 80%;
}

div.console div input[type=text] {
    width: 90%;
}

div.console div input[type=button] {
    width: 10%;
}

div iframe {
    width: 100%;
    height: 98%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}

div.buttons {
    display: flex;
    flex-direction: row;
    height: 3%;
    width: 100%;
}

div.buttons button {
    width: 100%;
    padding: unset;
    text-align: center;
}