footer {
    background-color: gray;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer a {
    color: black;
}

footer a:hover {
    color: #555555;
}
