body div#logout {
    border: groove;
    margin: auto;
    width: 35%;
    padding: 10px;
    font-size: 25px;
    height: 2.5%;
    text-align: center;
}

body div#error {
    border: groove red;
    margin: auto;
    width: 35%;
    padding: 10px;
    font-size: 25px;
    height: 2.5%;
    text-align: center;
}

form {
    margin: auto;
    width: 20%;
    padding: 10px;
    margin-top: 15%;
    font-size: 25px;
}

body div form {
    border: groove;
}

label, 
input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
}

#label {
    text-align: center;
}