div #new_user {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 30px auto auto auto;
    padding: 5px;
    align-self: center;
    align-content: center;
    display: none;
    width: 30%;
    height: 65%;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 1px 5000000px;
}

#users {
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px;
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    border: red;
    position: relative;
}

#users table {
    margin-top: 5px;
}

#users table, #users th, #users td {
    border: solid black 2px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}