<html>
<base href='http://192.168.78.3'>
<link rel="stylesheet" type="text/css" href="static/partials/style/console.css">

<body id='console-text'>this is
    textffffffffffffffffffffffffffffffff<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf<br>aasasfafsdf
</body>

</html>