<div class='footer'>
    <p>This console was created with to be used on locally hosted machines.</p><br>
    <p>Created by <a href='mailto:gabezter@gmail.com'>Gabezter</a> and posted on <a href='https://github.com/Gabezter/MineCraft-Webconsole'>Github</a> </p>
    <p><a href='https://github.com/Gabezter/MineCraft-Webconsole/blob/master/LICENSE'>License: Apache License 2.0</a></p>
</div>
<style>
    div.footer {
        background-color: gray;
        color: black;
        text-align: center;
    }
</style>