<head>
    <link rel="stylesheet" type="text/css" href="style/header.css">
</head>
<img src="" alt='This is the logo'>
<ul>
    <li><a href='admin/console'>Console</a></li>
    <li><a href='admin/plugins'>Plugins</a></li>
    <li><a href='admin/configs'>Configuration Files</a></li>
    <li><a href='admin/users'>Accounts</a></li>
    <li><a href='admin/logout'>Logout</a></li>
</ul>
<style>
    
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

header li a:hover {
    background-color: #111;
}
</style>