<base href='http://192.168.78.3'>
<!-- <a href='admin/console'><img src="static/res/logo.png" alt='This is the logo'></a> -->
<nav>
    <ul>
        <li><a href='admin/console'>Console</a></li>
        <li><a href='admin/plugins'>Plugins</a></li>
        <li><a href='admin/configs'>Configuration Files</a></li>
        <li><a href='admin/users'>Accounts</a></li>
        <li><a href='admin/logout'>Logout</a></li>
    </ul>
</nav>
<style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav {
        background-color: #333;
    }

    nav li {
        float: left;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav li a:hover {
        background-color: #111;
    }

    header a img {
        width: 100px;
        height: 100px;
    }
</style>