body div form {
    border: groove;
}
form {
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 10%;
}

label, input {
    /* In order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
}
input[type=submit]{
    display: block;
    margin: 0 auto;

}
#label{
    text-align: center;
}

html body{
    font-size: 25px;
}