<div>
    <link rel="stylesheet" type="text/css" href="/static/footer.css">
    <br>
    This console was created with to be used on locally hosted machines.<br>
    If any issues arise please create an <a href="https://github.com/Gabezter/MineCraft-Webconsole/issues/new">issue</a>
    on the github.<br>
    Created by Gabezter and posted on <a href='https://github.com/Gabezter/MineCraft-Webconsole'>Github</a> <br>
    <a href='https://github.com/Gabezter/MineCraft-Webconsole/blob/master/LICENSE'>License: Apache License 2.0</a>
    <br><br>
</div>

<!-- <style>
    div.footer {
        background-color: gray;
        color: black;
        text-align: center;
    }

    div.footer a {
        color: black;
    }

    div.footer a:hover {
        color: #555555;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }
</style> -->