<html>

<head>
    <title>MC Console Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>

<body>
    <div>
        <form method='post'>
            <div id='label'>Minecraft Console Login</div>
            <br>
            <label for='usr'>Username</label> <input type='text' name='username' id='usr' required>
            <br>
            <br>
            <label for='pwd'>Password</label> <input type='password'  name='password' id='pwd' required>
            <br>
            <br>
            <input type="submit" value='Login'>
        </form>
    </div><br><br>
    {% if error %} <div id='error'> {% if invalid %} User is invalid. {% else %} Incorrect Username/Password {% endif %}</div> {% endif %}
    {% if logout %} <div id='logout'> Successfully Logged Out.</div>{% endif %}
</body>
<footer>{% include "footer.html" %}</footer>

</html>